<h1>MESSAGES</h1>

<button id="new-message">Add New Message</button>

<form class="message-class" id="message-id">
  Title: <input type="text" name="title"><br>
  Body: <input type="text" name="body"><br>
  <input type="submit" value="Submit">
</form>
