<h1>MESSAGES</h1>

<div id="all-messages"> Double Click to show Messages!!</div>

<button id="new-message">Add New Message</button>

<form class="message-class" id="message-id">
  Message: <input type="text" name="message"><br>
  Body: <input type="text" name="body"><br>
  <input type="submit" value="Submit">
</form>
