<!DOCTYPE html>
<html>
<head>
  <title>Ship2shipApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner"></div>
<div class="wrapper" id="ship_ship">
<%= yield %>

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="main.js"></script>
</div>
</body>
</html>
